<h2>Bookshelf</h2>

<form class="" action="/bookshelf" method="post">
  <label for="">Title</label>
  <input type="text" name="title">
  <label for="">Genre</label>
  <input type="text" name="genre">
  <label for="">Author</label>
  <input type="text" name="author">
  <button>Add</button>
</form>
