<% if !logged_in? %>
<h3>Login to access your bookshelf and wishlist</h3>
<% end %>

<form action="/search_result">
  <label class="search_label">Search books</label>
  <input type="text" name="book" placeholder="Title, Author, Genre">
  <button class="btn btn-primary search_btn">Search</button>
</form>
