<h3>Login to access your catalogue and whishlist</h3>

<form class="" action="/search_result">
  <label for="">Search by Title</label>
  <input type="text" name="book" placeholder="Enter Title">
  <button class="search_btn">Search</button>
</form>
  <!-- <label for="">Search by author</label>
  <input type="text" name="book" placeholder="Enter Author"> -->
