<h3>Login to access your catalogue and whishlist</h3>

<form action="/search_result">
  <label for="">Search by Title or Author</label>
  <input type="text" name="book" placeholder="Enter here">
  <button class="search_btn">Search</button>
</form>
