<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carrel</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <h1>Carrel</h1><h3>Book cataloging tool</h3>

    <nav class="top_nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/bookshelf">Bookshelf</a>
      <a href="/wishlist">Wishlist</a>

      <div class="log_info">
        <% if logged_in? %>
          <p>Logged in as: <%= current_user.email %></p>
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Sign out</button>
          </form>
        <% else %>
            <form action="/login" method="get">
              <button>Login</button>
            </form>
        <% end %>
      </div>
    </nav>

  </header>

  <main>
    <%= yield %>
  </main>

  <footer>

  </footer>
</body>
</html>
