<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/public/stylesheets/main.css'>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a><a href="#">Login</a>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    
  </footer>
</body>
</html>
