<h2>Search results for <%= @book %></h2>

<div class="search_list">
  <ol>
    <% @search.each do |book| %>
      <a href="/search_result">
        <!-- <li> -->
          <img src="<%= book["volumeInfo"]["imageLinks"]["smallThumbnail"] %>" alt="">
        <!-- </li> -->
      </a>
    <% end %>
  </ol>
  <ol>
    <% @search.each do |book| %>
      <a href="/search_result">
        <li><%= book["volumeInfo"]["title"] %></li>
      </a>
    <% end %>
  </ol>
  <ol>
    <% @search.each do |book| %>
      <a href="/search_result">
        <li><%= book["volumeInfo"]["authors"][0] %></li>
      </a>
    <% end %>
  </ol>
</div>
