<h2>Search results for <%= @book %></h2>

<div class="search_list">
  <ol>
    <% @search.each do |book| %>
      <a href="/search_result">
        <li><%= book[1] %></li>
      </a>
    <% end %>
  </ol>
</div>
