<h2>Search results for <%= @book %></h2>

<div class="search_list">
  <ul>
    <% @search.each do |book| %>
      <a href="/book_result">
        <li><%= book[1] %></li>
      </a>
    <% end %>
  </ul>
</div>

<!-- /id=<%= book["industryIdentifiers"][0]["identifier"] -->
<!-- "#{book[0]}: #{book[1]}" -->
