html, body {
  box-sizing: border-box;
  background-image: url(/natural_paper.jpg);
  margin: 0 5px 0 5px;
  height: 100%;
}

.navbar {
  background-color: black;
  opacity: 0.7;
}

.wishlist span {
  color: white;
  font-weight: lighter;
}

.wish_heading {
  text-align: center;
}

.log_info {
  padding-right: 0;
  padding-top: 5px;
}

.login_msg_bold {
  font-weight: bold;
}

.log_info span {
  display: inline-block;
}

.nav-link {
  color: white;
}

.login_btn,
.sign-out-btn {
  padding: 5px 5px;
  font-size: 10px;
}

.table-head-borderless tr th {
  border-top: none;
}
.table-borderless tr th,
.table-borderless tr td {
  border: none;
}

.search_list a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.book_list a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.book_result h4 span {
  font-weight: 250;
  font-size: 20px;
}

.main_heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
  padding: 0;
}

 .sub_heading {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
  padding: 0;
}

.login_msg {
  font-size: 13px;
}

.wishlist h4 span {
  padding-left: 7px;
}

.bookshelf_form .notes {
  margin-bottom: 0;
}

.form-group .login_label {
  font-size: 18px;
  vertical-align: bottom;
  margin-left: 8px;
  margin-right: 5px;
}

.form-group button {
  margin-right: 5px;
}

button .btn .btn-primary .search_btn {
  margin-bottom: 0px;
}

button.btn.btn-primary {
  margin-bottom: 0px;
}

.about {
  max-width: 70%;
}

.search_label {
  font-size: 18px;
}

.access_msg {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 10px;
}
