html {
  box-sizing: border-box;
}

body {
  /* background-color: #fed27c; */
  background-image: url(/natural_paper.jpg);
  margin: 0 5px 0 5px;
}
header {
  display: inline;
}

.login_btn {
  float: right;
  margin-top: 0;
}

.top_nav li a {
}

/* .top_nav h1, h3 {
  float: left;
} */

/* .top_nav h1 {
  margin-right: 5px;
  margin-top: 14px;
} */

.search_list a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.book_list a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.search_btn {
  margin-bottom: 7px;
}

.book_result h4 span {
  font-weight: lighter;
}
