html {
  box-sizing: border-box;
}

body {
  background-image: url(/natural_paper.jpg);
  margin: 0 5px 0 5px;
}
header {
  display: inline-block;
}

.login_btn {
  float: right;
  margin-top: 0;
}

.navbar {

}

.main_heading {
  float: left;
}

.search_list a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.book_list a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.search_btn {
  margin-bottom: 7px;
}

.book_result h4 span {
  font-weight: lighter;
}
